.custom-scrollbar::-webkit-scrollbar {
  width: 2px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #555555;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  width: 4px;
}
.gd {
  background: linear-gradient(to right, #0359ae 5%, #04a0a0 100%);
}
